<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aht" translate="label" sortOrder="0">
            <label>Magenest</label>
        </tab>
        <section id="movie" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Movie</label>
            <tab>aht</tab>
            <resource>AHT_Movie::question</resource>
            <group id="movie_peding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="text_field" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
                    <comment>This is a Text Field</comment>
                </field>
                <label>Setting Movie</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yes/No_Field_abcd</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="select_field" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Select Field</label>
                     <source_model>AHT\Movie\Block\System\Config\Form\Field\Select</source_model>
                </field>
                <field id="text_movie" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rows in table “magenest_movie”</label>
                    <frontend_model>AHT\Movie\Block\System\Config\Form\Field\Movie</frontend_model>
                </field>
                <field id="text_actor" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rows in table “magenest_actor”</label>
                    <frontend_model>AHT\Movie\Block\System\Config\Form\Field\Actor</frontend_model>
                    <depends>
                        <field id="select_field">1</field>
                    </depends>
                </field>
                <field id="button_id" translate="label" type="button" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Reload Page</label>
                    <frontend_model>AHT\Movie\Block\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
